---
import {SOCIALS} from "../../../../data/socials-data.tsx";
import SocialCard from "../../../core-ui/social-card/social-card.tsx";
import SendQuoteForm from "./send-quote-form.tsx";
---

<section class="w-full bg-indigo-900 text-white flex justify-center items-center flex-wrap pb-40 relative">
    <div class="w-full flex justify-center items-center flex-wrap">
        {SOCIALS.map(social => (
            <div class="flex justify-center items-center content-center w-full sm:w-1/2 md:w-1/4">
                <SocialCard social={social} />
            </div>
        ))}
    </div>
    <div class="absolute -bottom-12 w-full flex justify-center items-center">
        <SendQuoteForm client:visible />
    </div>
</section>