---
import Fields from "./fields.tsx";
import TypeWriter from "../../../core-ui/type-writer/type-writer.tsx";
---


<section class="w-full my-3 flex flex-wrap justify-center items-canter min-h-[80vh] h-[80vh] relative after:absolute after:bottom-0 after after:w-1/2 after:h-[2px] after:bg-slate-400 before:absolute before:top-0 before:w-1/2 before:h-[2px] before:bg-slate-400">
    <div class="w-full mb-4 md:mb-0 md:w-5/12 flex justify-center items-center flex-wrap content-center py-2 px-10">
        <div class="w-full text-2xl mb-3 font-bold">
            <div class="w-fit">
                <TypeWriter client:load content="How can i help you?" />
            </div>
        </div>
        <p class="w-full text-sm">
            I'm here to help you with your business.
            if you need a full dynamic website, I can help you with react, nextjs,...
            to build a web app for you.<br/>
            if you need complete web platform, I can help you with C#, asp.net, nodejs,...
            in backend and react, nextjs, in frontend.<br/>
            just contact me and we can talk about your project.
        </p>
    </div>
    <div class="w-full h-full md:h-full md:w-7/12 flex justify-center items-start md:items-center relative">
        <div class="w-10/12 border-indigo-700 border-2 border-solid hover:border-double hover:border-8 box-content transition-all h-3/5 flex justify-center items-start relative overflow-hidden rounded-md">
            <Fields/>
            <div class="w-full h-0 absolute top-0 left-0 shadow-to-bottom z-10">
            </div>
            <div class="w-full h-0 absolute bottom-0 right-0 shadow-to-top z-10">
            </div>
        </div>
    </div>
</section>