<section class="flex justify-center items-center min-h-screen h-screen pt-28 bg-[url('/assets/images/PolygonLuminary.svg')] bg-cover">
    <div class="w-full flex justify-center items-center flex-wrap px-12 font-sans">
        <div class="w-full">
            <h2 class="text-3xl font-extrabold mb-3">
                About me ?
            </h2>
        </div>
        <div class="w-full flex justify-start items-center">
            <p class="max-w-md text-lg selection:bg-indigo-700 selection:text-white">
                I'm a full-stack developer, I have a passion for building web applications.
                I'm currently working as a front-end developer at <a href="https://www.truelayer.com/" target="_blank" rel="noopener noreferrer">TrueLayer</a>.
                I'm also a student at <a href="https://www.ecole42.com/" target="_blank" rel="noopener noreferrer">Ecole 42</a> in Paris.
                Everyday I'm learning new things and I'm always looking for new challenges.
                when I'm not coding, I'm usually playing video games, watching movies or listening to music.
                but I'm also a big fan of <a href="https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw" target="_blank" rel="noopener noreferrer">music</a> and <a href="https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw" target="_blank" rel="noopener noreferrer">video games</a>.
            </p>
        </div>
    </div>
</section>