<section class="w-full flex justify-center items-center min-h-screen h-screen pt-28 bg-[url(./images/PolygonLuminary.svg)] bg-cover">
    <div class="w-full flex justify-center items-center flex-wrap px-12 font-sans">
        <div class="w-full">
            <h2 class="text-3xl font-extrabold mb-3">
                About me <strong title="what do you want to know really?">?</strong>
            </h2>
        </div>
        <div class="w-full flex justify-start items-center">
            <p class="max-w-lg text-lg">
                I'm a Control Engineer and full-stack developer, I have a passion for building web applications.
                I'm currently working as a Freelance developer.<br/>
                I'm also a student at <a class="text-indigo-400" title="Iran University of Science and Technology" href="http://www.iust.ac.ir/" target="_blank" rel="noopener noreferrer">Iran University of Science and Technology</a> in Tehran.
                Everyday I'm learning new things and I'm always looking for new challenges.
                when I'm not coding, I'm usually playing video games, watching movies or listening to music.
            </p>
        </div>
    </div>
</section>