@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

:root {
	font-family: sans-serif,-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-size: 1rem;
	--user-font-scale: 1rem - 16px;
	font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}

body {
	width: 100%;
    font-family: sans-serif,'Times New Roman', Times, serif;
}

.after-bg-linear::after{
    background-image: linear-gradient(to bottom, #b3b3b300, #ffffff);
    /* backdrop-filter: blur(2px); */
}

.scroll-bar-hidden::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
}

.shadow-to-bottom{
    box-shadow: 0px 11px 73px 82px #dddddde8;
}

.shadow-to-top{
    box-shadow: 0px -11px 73px 82px #dddddde8;
}