---
import MetaLayout from "./MetaLayout.astro";
import HeaderLayout from "./HeaderLayout.astro";
import FooterLayout from "./FooterLayout.astro";
import MainLayout from "./MainLayout.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <MetaLayout/>
</head>
<body class="selection:bg-indigo-700 selection:text-white">
    <HeaderLayout />
    <MainLayout>
        <slot/>
    </MainLayout>
    <FooterLayout/>
</body>
</html>