---
// import {Markdown} from "astro/components";
import Layout from "../components/layout/Layout.astro";
import Profile from "../components/routes/about-me/profile.mdx";
---

<Layout>
    <section class="">
        <!-- <Markdown> -->
        <Profile />
        <!-- </Markdown> -->
    </section>
</Layout>
