---
import Layout from "../components/layout/Layout.astro";
import HeroSection from "../components/routes/index/hero-section/hero-section.astro";
import SocialsSection from "../components/routes/index/socials-section/socials-section.astro";
import AboutMeSection from "../components/routes/index/about-me-section/about-me-section.astro";
import FieldsSection from "../components/routes/index/fields-section/fields-section.astro";
---

<Layout>
    <div class="w-full justify-center content-start">
        <HeroSection/>
        <SocialsSection/>
        <AboutMeSection/>
        <FieldsSection client:visible />
    </div>
</Layout>